@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root{
    --color-primario: #b0f2c2;
    --color-header:#b186f1;
    --color-footer:#ffda9e;
    --fuente:'Roboto Slab', serif;
    --color-negro: rgb(0, 0, 0);
    --color-blanco: rgb(255, 255, 255);
    --color-link: rgb(233, 196, 106);
    --color-titulo: rgb(255, 255, 255);
    --color-texto: #45484a;
    --ancho-max: 900px;
    --altura-header: 3.5rem;
}

/*****************/
/* SETEO INICIAL */
/*****************/
*,
*::after,
*::before {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {   margin: 0; }

h1 {   font-size: 2rem; }
h2 {   font-size: 1.5rem; }
h3 {   font-size: 1.25rem; }
h4 {   font-size: 1rem; }
h5 {   font-size: 0.85rem; }
h6 {   font-size: 0.7rem; }

html {
    box-sizing: border-box;
    font-family: var(--fuente);
    font-size: 14px;
    scroll-behavior: smooth;
  }


/***************/
/* COMPONENTES */
/***************/



/*********************/
/* ESTILOS DEL SITIO */
/*********************/

body {
    background-color: var(--color-primario);
    color: var(--color-texto);
  }


  .container {
    margin-left: auto;
    margin-right: auto;
  }

  header {
    left: 0;
    bottom: 0;
    width: 100%;
    height: var(--altura-header);
    background-color: var(--color-header);
    color: var(--color-negro);
   
  }

  .header > .container {
    justify-content: space-between;
    align-items: center;
  }

  footer {
    padding: 0.5rem;
    text-align: center;
    color: var(--color-negro);
    background-color: var(--color-footer);
  }


/**************/
/* UTILIDADES */
/**************/



@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {
}